@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Ubuntu";
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf5;
  --color-primary-hover: #a888fc;

}

@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary {
  @apply bg-primary text-white p-2 rounded transition-colors;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}
